server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /positions/positions.yml

clients:
  - url: http://172.17.56.221:3100/loki/api/v1/push

scrape_configs:
  # =========================
  # A) Docker container logs
  # =========================
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 10s

    relabel_configs:
      # ใช้ชื่อ container เป็น label "service"
      - target_label: node
        replacement: edi-192
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: service

      # ใส่ env/project แบบ fix ไปก่อน (ถ้าคุณมีหลาย env ค่อยแยกเป็น promtail ต่อ env)
      - target_label: env
        replacement: office
      - target_label: project
        replacement: monitoring

      # map path log ของ docker json
      - source_labels: ['__meta_docker_container_id']
        target_label: __path__
        replacement: /var/lib/docker/containers/$1/$1-json.log

    pipeline_stages:
      - json:
          expressions:
            time: time
            log: log
            stream: stream
      - timestamp:
          source: time
          format: RFC3339Nano

      - drop:
          older_than: 168h
          drop_counter_reason: too_old

      - labels:
          stream:
      - output:
          source: log

  # =========================
  # B) Host Nginx logs (ถ้ามี)
  # =========================
  - job_name: nginx_host_logs
    static_configs:
      - targets: [localhost]
        labels:
          job: nginx
          env: office
          project: monitoring
          service: nginx-host
          __path__: /var/log/nginx/*.log
